body {
    margin: 0;
}

.register-container {
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    .register-page {
        // min-width: 700px;
        padding: 15px 30px;
        border-radius: 10px;
        background-color: rgba(56, 54, 54, 0.6);
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        box-sizing: border-box;

        .ant-input::placeholder {
            color: #ffffff;
        }

        label {
            color: #ffffff;
        }

        button {
            background: transparent;
            border: 1px solid #ffffff;
            color: #ffffff;
            width: 100%;
            text-transform: uppercase;
            transition: 0.25s ease-in-out;
            cursor: pointer;

            :hover {
                background-color: transparent !important;
            }
        }
    }
}
