.wrapper_book_item {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    color: #333;
    cursor: pointer;

    .avatar {
        font-size: 20px;
        border-radius: 50%;
        object-fit: cover;
    }

    .info {
        flex: 1;
        margin-left: 12px;
    }

    .name {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

a {
    text-decoration: none;
}
